 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
    background-color: black;
}



.layout {
  display: flex;
  min-height: 100vh;
}


.sidebar {
      background-color: rgb(37, 32, 32);
  color: rgb(134, 131, 131);
  width: 220px;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  margin: 12px 0;
  cursor: pointer;
}


.main {
  flex: 1;
  padding: 20px;
}



.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.topbar input {
  padding: 8px;
  width: 200px;
}


.products {
  display: grid;
  grid-template-columns: 1fr; /* Mobile First */
  gap: 20px;
}



.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 8px;
}

.card h3 {
  margin: 10px 0;
}

.stock {
  color: green;
  font-weight: bold;
}



@media (min-width: 768px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (min-width: 1024px) {
  .products {
    grid-template-columns: repeat(3, 1fr);
  }
}



@media (max-width: 768px) {

  .layout {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    text-align: center;
  }

  .topbar {
    flex-direction: column;
    gap: 10px;
  }

  .topbar input {
    width: 100%;
  }
}
