

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
   background-image: linear-gradient(to right, #DA22FF 0%, #9733EE 51%, #DA22FF 100%);
  color: #bdc5cf;
  line-height: 1.6;
}

header {
  background-color: #142549;
  color: white;
  padding: 20px 40px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

nav a:hover {
  color: #212122;
}



.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 80px 20px;
background-image: linear-gradient(to right, #DA22FF 0%, #9733EE 51%, #DA22FF 100%);
}

.hero img {
  width: 180px;
  border-radius: 50%;
  border: 4px solid #171718;
}

.hero-text h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}



section {
  padding: 60px 20px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  color: #131414;
}



.skills span {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  background-color: #141516;
  color: white;
  border-radius: 20px;
  transition: 0.3s;
}

.skills span:hover {
  background-color: #1e40af;
}



.projects {
  display: grid;
  gap: 20px;
  margin-top: 30px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #e5e7eb;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}



form {
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input, textarea {
  padding: 12px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
}

button {
  padding: 12px;
  background-color: #2563eb;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

button:hover {
  background-color: #1e40af;
}



footer {
  background-color: #111827;
  color: white;
  padding: 20px;
  text-align: center;
}




@media (min-width: 768px) {
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (min-width: 1024px) {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}
